@charset "UTF-8";
body {
  background-color: #6bc9bd;
  margin: 0px;
}

header {
  padding-bottom: 130px;
}

.bg {
  max-width: 1140px;
  height: 130px;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding-left: 20px;
}

.container {
  width: 1140px;
}

@media (max-width: 1139px) {
  .container {
    width: 100%;
  }
}

.logo {
  width: 266px;
  height: 60px;
  background-image: url(../images/logo.png);
}

.socials {
  display: flex;
  align-items: baseline;
}

.fb {
  width: 15px;
  height: 30px;
  background-image: url("../images/fb-icon.png");
  margin-right: 29px;
}

.fb:hover {
  background-image: url("../images/fb-icon_bl.png");
  cursor: pointer;
}

.fb2:hover {
  background-image: url("../images/fb-icon2.png");
}

.vk {
  width: 35px;
  height: 20px;
  background-image: url("../images/vk-icon.png");
  cursor: pointer;
}

.vk:hover {
  background-image: url("../images/vk-icon_bl.png");
}

.vk2:hover {
  background-image: url("../images/vk-icon2.png");
}

.nav {
  color: #ffffff;
  font-size: 18px;
  font-family: UniNeueBold;
}

.separator {
  font-family: UniNeueBlack;
  color: #ffffff;
}

.wrapper {
  position: fixed;
  box-shadow: 0px 5px 40px 0 rgba(0, 0, 0, 0.1);
  background-color: #6bc9bd;
  width: 100%;
  z-index: 999;
}

.wrapper2 {
  background-color: #2c2c2c;
  width: 100%;
}

.item {
  text-transform: uppercase;
}

.item:hover {
  text-decoration: underline;
  cursor: pointer;
}

a.item {
  color: #ffffff;
}

@font-face {
  font-family: 'UniNeueRegular';
  src: url("../fonts/UniNeueRegular.ttf");
}

@font-face {
  font-family: 'UniNeueBold';
  src: url("../fonts/UniNeueBold.ttf");
}

@font-face {
  font-family: 'UniNeueBlack';
  src: url("../fonts/UniNeueBlack.ttf");
}

/*блок карусель */
.slider {
  height: 850px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/dance.png");
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.slider_a {
  font-family: UniNeueRegular;
  font-size: 24px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 1.2px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  position: relative;
  line-height: 2;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  z-index: 2;
}

.slider_button {
  width: 265px;
  margin-left: auto;
  margin-right: auto;
  height: 0px;
}

.slider_button:after {
  content: "";
  display: block;
  width: 259px;
  height: 10px;
  opacity: 0.5;
  background-color: #6bc9bd;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -28px;
}

.slider_button:hover {
  transform: scale(1.1);
}

.itemDiv {
  border: 1px solid rgba(0, 0, 0, 0);
  min-height: 625px;
}

.itemDiv_header {
  font-size: 120px;
  font-weight: 900;
  color: #ffffff;
  margin-top: 175px;
}

.itemDiv_p {
  line-height: 2.4;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: UniNeueRegular;
  font-weight: 900;
}

.circle {
  width: 463px;
  height: 463px;
  opacity: 0.5;
  background-color: #6bc9bd;
  border-radius: 50%;
  position: absolute;
  top: 18%;
  left: 50%;
  margin-left: -232px;
  z-index: -1;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: UniNeueRegular;
}

.owl-dot {
  outline: none;
}

.owl-carousel {
  margin-bottom: 50px;
}

.owl-nav {
  position: absolute;
  left: 0px;
  top: 59%;
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 100px;
}

.owl-prev {
  position: absolute;
  left: 20%;
  outline: none;
  background: url(../images/arrow-left.png) !important;
  width: 115px;
  height: 139px;
}

.owl-prev span {
  display: none;
}

.owl-next {
  position: absolute;
  right: 20%;
  outline: none;
  background: url(../images/arrow-right.png) !important;
  width: 115px;
  height: 139px;
}

.owl-next span {
  display: none;
}

.textBlock {
  height: 715px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/guitar.png");
  color: #ffffff;
  margin-top: 3px;
  padding-top: 200px;
  background-position: bottom;
  background-size: 100%;
}

.textBlock_container {
  display: flex;
  justify-content: space-between;
}

.textBlock_text {
  width: 696px;
  text-align: left;
  font-family: UniNeueRegular;
  padding-left: 20px;
}

.textBlock_text_header {
  font-size: 48px;
}

.textBlock_text_paragraph {
  font-size: 24px;
  text-transform: none;
}

.textBlock_image {
  width: 263px;
  height: 371px;
  background-image: url(../images/ch.png);
  padding-right: 80px;
  background-position: center;
  background-repeat: no-repeat;
}

.accordion {
  min-height: 1149px;
  background-color: #2c2c2c;
  margin-top: 3px;
  font-family: UniNeueRegular;
}

.accordion_header {
  font-family: UniNeueRegular;
  font-size: 60px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  padding-top: 72px;
  margin-top: 0;
  text-transform: uppercase;
}

.ac:checked + .ac-container_button:after {
  display: none;
}

.ac-container {
  max-width: 1140px;
  margin: 10px auto 30px auto;
  padding-bottom: 87px;
}

.ac-container_input {
  position: relative;
}

.ac-container_button {
  width: 60px;
  height: 60px;
  background-color: #6bc9bd;
  border-radius: 50%;
  margin-top: -60px;
  position: relative;
  top: 98px;
  left: 23px;
  z-index: 19;
}

.ac-container_button:hover {
  background-color: #ffffff;
}

.ac-container_button:before {
  width: 31px;
  height: 7px;
  background-color: #2c2c2c;
  content: "";
  display: block;
  position: relative;
  top: 29px;
  left: 15px;
}

.ac-container_button:after {
  width: 7px;
  height: 30px;
  background-color: #2c2c2c;
  content: "";
  display: block;
  position: relative;
  top: 10px;
  left: 27px;
}

.ac-container_text {
  position: absolute;
  top: 38%;
  left: 10%;
  font-size: 30px;
  padding-left: 30px;
}

.ac-container_article {
  height: auto;
  padding-left: 30px;
}

.ac-container_content {
  color: #ffffff;
  font-weight: 900;
  font-family: UniNeueRegular;
  margin-top: 45px;
}

.ac-container_spanLeft, .ac-container_spanRight {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}

.ac-container_spanLeft {
  margin-left: 10%;
}

.ac-container_spanRight {
  position: absolute;
  left: 50%;
}

div.ac-container_button:hover {
  background-color: #ffffff;
}

.ac-button {
  margin-left: 125px;
}

.ac-button:after {
  margin-left: -20px;
}

.ac-container label {
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  height: 121px;
  cursor: pointer;
  color: #ffffff;
  line-height: 33px;
  font-size: 19px;
  background: linear-gradient(top, #ffffff 1%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
  box-shadow: 0px -1px 0px 1px #6bc9bd;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
  background: #2c2c2c;
  color: #ffffff;
}

.ac-container input:checked + label:hover:after {
  background-image: url(http://netcribe.com/example/arrow_up.png);
}

.ac-container input {
  display: none;
}

.ac-container article {
  background: #2c2c2c;
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container input:checked ~ article {
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  box-shadow: 0px 1px 0px 1px #6bc9bd;
  height: auto;
}

.ac-container_input5 {
  box-shadow: 0px 0px 0px 1px #6bc9bd;
}

.ac-container_input5:checked {
  box-shadow: 0px -1px 0px 1px #6bc9bd;
}

.ac-container article p {
  color: #777;
  line-height: 23px;
  font-size: 14px;
  padding: 20px;
}

.ac-container_input {
  margin-top: 2px;
}

.ac-container {
  max-width: 1140px;
  margin: 10px auto 0px auto;
}

.ac-container_input {
  position: relative;
}

.ac-container_image {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 27%;
}

.ac-container_text {
  position: absolute;
  top: 38%;
  left: 10%;
}

.ac-container_article {
  height: auto;
}

.ac-container_content {
  color: #ffffff;
  font-weight: 900;
  font-family: UniNeueRegular;
  margin-top: 45px;
  margin-bottom: 64px;
}

.ac-container_spanLeft, .ac-container_spanRight {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}

.ac-container_spanLeft {
  margin-left: 10%;
}

.ac-container_spanRight {
  position: absolute;
  left: 50%;
}

.ac-container_spanBottom {
  display: inline-block;
  margin-top: 55px;
  margin-bottom: 57px;
}

.ac-container_spanValue {
  text-transform: none;
  font-weight: 100;
  font-size: 30px;
}

.ac-container_input5 {
  box-shadow: 0px 0px 0px 1px #6bc9bd !important;
}

#ac-5:checked ~ .ac-container_input5 {
  box-shadow: 0px -1px 0px 1px #6bc9bd !important;
}

.request {
  background: url("../images/concert.png");
  min-height: 1041px;
  margin-top: 3px;
  background-position: right bottom;
  background-size: 130%;
  color: #ffffff;
  font-size: 18px;
  font-family: UniNeueRegular;
}

.request_header {
  padding-top: 50px;
  margin-bottom: 0px;
  padding-bottom: 30px;
}

.request_form {
  max-width: 552px;
  min-height: 822px;
  background-color: #2c2c2c;
  margin-left: auto;
  margin-right: auto;
  padding-top: 42px;
  padding-left: 68px;
  padding-right: 66px;
  box-sizing: border-box;
}

.form__input, .form__select {
  width: 418px;
  height: 46px;
  border: solid 1px #ffffff;
  background-color: #2c2c2c;
  padding-left: 23px;
  margin-top: 19px;
  color: #ffffff;
  box-sizing: border-box;
}

.form__inputComment, .form__selectComment {
  width: 418px;
  height: 100px;
  padding-bottom: 50px;
}

.form__label {
  font-size: 18px;
}

.form__button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: UniNeueRegular;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  position: relative;
}

.form__buttons {
  text-align: center;
}

.form__line {
  position: relative;
  top: 74px;
}

.form__field {
  margin: 10px;
  position: relative;
}

.form__area {
  display: block;
}

.form label.error {
  color: red;
  display: block;
  position: absolute;
  top: 100%;
  margin-top: -6px;
  left: 0;
  right: 0;
}

input.error {
  border: 2px solid red;
}

.form__checkbox {
  position: relative;
  overflow: hidden;
  display: block;
}

.form__checkbox-input {
  position: absolute;
  right: 100%;
  bottom: 100%;
}

.form__checkbox-label {
  position: relative;
  padding-left: 30px;
  display: block;
  padding-top: 2px;
  padding-bottom: 2px;
}

.form__checkbox-label::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  border: 1px solid #6bc9bd;
  left: 0;
  top: 0;
}

.form__checkbox-label::after {
  content: '';
  display: block;
  width: 15px;
  height: 16px;
  position: absolute;
  left: 4px;
  top: 4px;
  opacity: 0;
  background-image: url("../images/checked.png");
}

.form__checkbox-input:checked + .form__checkbox-label::after {
  opacity: 1;
}

.contacts {
  min-height: 464px;
  background-color: #2c2c2c;
  margin-top: 3px;
}

.contactsMap {
  margin-left: 31px;
}

.contactsText_header {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 48px;
  text-align: left;
  padding-top: 80px;
  margin-top: 0;
}

.contactsText_item {
  text-align: left;
  margin-top: 45px;
  margin-bottom: 45px;
}

.contactsText_value {
  font-size: 18px;
  vertical-align: super;
  display: inline-block;
  max-width: 185px;
  color: #ffffff;
  margin-left: 26px;
}

.contactsText_value1 {
  vertical-align: baseline;
}

.contactsContainer {
  display: flex;
  justify-content: space-between;
}

.footer {
  min-height: 127px;
  background-color: #6bc9bd;
}

.footer_copyright {
  font-style: 18px;
  color: #ffffff;
  text-transform: none;
}

.form__select {
  background: url(../images/arrow-bottom.png);
  background-color: #2c2c2c;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  appearance: none;
}

.form_radio {
  display: inline;
}

.form_radio input[type=radio] {
  display: none;
}

.form_radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 0;
  line-height: 18px;
  user-select: none;
}

.form_radio label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: -2px;
  background: url(../images/no.png) 0 0 no-repeat;
}

/* Checked */
.form_radio input[type=radio]:checked + label:before {
  background: url(../images/yes.png) 0 0 no-repeat;
}

.form__label-male {
  display: block;
  margin-bottom: -13px;
}

.form_radio-female {
  margin-left: 20px;
}

.map {
  width: 700px;
  height: 500px;
  max-width: 100%;
}

@media (max-width: 1000px) {
  .map {
    width: 497px;
    margin-right: -24px;
  }
}

@media (max-width: 768px) {
  .socials {
    display: none;
  }
  .socialsBurger {
    display: flex;
    align-items: flex-end;
    margin-left: 21px;
  }
  .footer_copyright {
    text-align: right;
  }
  .footer_secondSpan {
    display: block;
  }
}

@media (min-width: 768px) {
  .socialsBurger {
    display: none;
  }
}

.socials_bottom {
  display: none;
}

@media (max-width: 768px) {
  .socials_bottom {
    display: flex;
  }
}

@media (max-width: 768px) {
  .textBlock {
    height: auto;
    padding-top: 78px;
    padding-bottom: 74px;
  }
  .itemDiv_header {
    font-size: 72px;
  }
  .itemDiv_p {
    font-size: 16px;
    width: 79%;
    margin-left: auto;
    margin-right: auto;
  }
  .owl-prev {
    left: -4%;
  }
  .owl-next {
    right: -4%;
  }
  .owl-nav {
    margin-top: -90px !important;
  }
  .container {
    width: 97%;
  }
  .nav {
    margin-right: 40px;
  }
}

@media (max-width: 717px) {
  .separator {
    display: none;
  }
}

@media (max-width: 768px) {
  .ac-container {
    margin-right: 20px;
    margin-left: 20px;
  }
  .contactsText_header {
    font-size: 30px;
    width: 250px;
  }
  .request {
    background-size: cover;
  }
}

@media (max-width: 320px) {
  .logo {
    width: 153px;
    height: 35px;
    background-size: 100%;
  }
}

@media (max-width: 450px) {
  .itemDiv_header {
    font-size: 36px;
  }
  .itemDiv_p {
    font-size: 12px;
  }
  .circle {
    width: 200px;
    height: 200px;
    margin-left: -100px;
  }
  .itemDiv_header {
    margin-top: 27px;
    margin-bottom: 0;
  }
  .bg {
    height: 75px;
  }
  header {
    padding-bottom: 75px;
  }
  .circle {
    top: 11%;
  }
  .itemDiv_p {
    width: 280px;
    line-height: 1.5;
  }
  .owl-nav {
    display: none;
  }
  .itemDiv {
    min-height: 0px;
  }
  .owl-carousel .owl-stage-outer {
    margin-bottom: -50px;
  }
  .owl-carousel {
    margin-bottom: 26px;
  }
  .slider {
    height: 290px;
    background-size: cover;
  }
  .textBlock_image {
    display: none;
  }
  .textBlock_text_header {
    font-size: 24px;
    text-transform: uppercase;
  }
  .textBlock_text_paragraph {
    font-size: 12px;
  }
  .textBlock {
    padding-top: 30px;
    padding-bottom: 36px;
    background-size: cover;
  }
  .textBlock_text_header {
    margin-bottom: 30px;
  }
  .accordion_header {
    font-size: 24px;
  }
  .ac-container_text {
    font-size: 16px;
    font-weight: 900;
    top: 15%;
  }
  .ac-container_button {
    width: 26px;
    height: 26px;
    top: 45px;
  }
  .ac-container_button:before {
    width: 15px;
    height: 4px;
    top: 12px;
    left: 6px;
  }
  .ac-container_button:after {
    width: 4px;
    height: 15px;
    top: 2px;
    left: 11px;
  }
  .accordion_header {
    padding-top: 28px;
    margin-bottom: 50px;
  }
  .ac-container label {
    height: 85px;
  }
}

@media (max-width: 450px) {
  .ac-container .ac-container_input5 {
    height: 50px;
  }
  #superid {
    top: 14px;
  }
  .ac-container {
    padding-bottom: 30px;
  }
  .accordion {
    min-height: 0px;
  }
  .ac-container_spanValue {
    font-size: 14px;
  }
  .ac-container_spanLeft {
    font-size: 14px;
  }
  .ac-container_spanRight {
    font-size: 14px;
  }
  .ac-container_content {
    margin-top: -9px;
    margin-bottom: 150px;
  }
  .ac-container_Spans {
    display: block;
    margin: 0;
    left: 10%;
    display: inline-block;
  }
  .ac-container_spanValue {
    padding-top: 6px;
  }
  .ac-container_spanRight {
    padding-top: 50px;
  }
  .slider_ac {
    font-size: 14px;
  }
  .slider_a {
    font-size: 14px;
  }
  .slider_button::after {
    width: 165px;
    height: 6px;
    top: -17px;
  }
  .ac-button {
    margin-left: 7px;
    position: relative;
    top: 75px;
  }
  .ac-button::after {
    width: 162px;
    top: -17px;
    height: 6px;
    margin-left: -9px;
  }
}

@media (max-width: 450px) {
  .request {
    background: #6bc9bd;
    min-height: 0;
  }
  .request_header {
    margin-bottom: 0;
  }
  .request_form {
    padding-left: 0;
    padding-right: 0;
    padding-top: 19px;
  }
  .request_button {
    margin-top: 40px;
  }
  .form__input, .form__select {
    width: 100%;
  }
  .contactsContainer {
    flex-direction: column-reverse;
  }
  .contactsMap {
    margin-left: -5px;
    max-height: 200px;
  }
  #map > ymaps > ymaps {
    height: 250px !important;
    width: 320px !important;
  }
  .contactsText {
    padding-left: 40px;
  }
  .contactsText_header {
    text-align: center;
  }
  .footer > .container > .bg > .logo {
    display: none;
  }
  .bg > .socials_bottom {
    display: none;
  }
  .footer_copyright {
    text-align: center;
  }
  .footer {
    min-height: 0;
    font-size: 12px;
  }
  .contactsText_value {
    font-size: 14px;
  }
  .bg {
    display: inline-flex;
    padding-left: 35px;
  }
  .menu {
    top: 75px !important;
    width: 262% !important;
  }
  .menu li {
    font-size: 18px !important;
    height: 50px !important;
  }
  .socials {
    transform: scale(0.8);
    margin-left: -70px;
  }
  .contactsText_item {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
/*# sourceMappingURL=style.css.map */