body
  background-color: $main-color
  margin: 0px

.bg
  max-width: 1140px
  height: 130px
  position: relative
  display: flex
  align-items: center
  margin-left: auto
  margin-right: auto
  justify-content: space-between

.container 
  width: 1140px

.logo 
  width: 266px
  height: 60px
  background-image: url(../images/logo.png)

.fb 
  margin-right: 29px

.nav 
  color: $text-color
  font-size: 18px
  font-family: UniNeueBold

.separator 
  margin-right: 27px
  margin-left: 22px
  font-family: UniNeueBlack

.wrapper 
  /* position: absolute; */
  box-shadow: 0px 5px 40px 0 rgba(0, 0, 0, 0.1)
  background-color: $main-color

.wrapper2
  display: none
  position: fixed
  top: 0
  background-color: $background-color
  width: 100%
  z-index: 999

.item 
  text-transform: uppercase
  

@font-face 
  font-family: 'UniNeueRegular'
  src: url("../fonts/UniNeueRegular.ttf")

@font-face 
  font-family: 'UniNeueBold'
  src: url("../fonts/UniNeueBold.ttf")

@font-face 
  font-family: 'UniNeueBlack'
  src: url("../fonts/UniNeueBlack.ttf")


/*блок карусель */


.slider 
  height: 850px
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/dance.png")
  color: $text-color
  text-align: center
  text-transform: uppercase
  &_button
    font-family: UniNeueRegular
    font-size: 24px
    font-weight: 900
    font-stretch: normal
    font-style: normal
    line-height: 2
    letter-spacing: 1.2px
    color: $text-color
    text-decoration: none
    text-align: center
    position: relative
    top: -30px
    line-height: 2
    letter-spacing: 2.2px
    text-transform: uppercase
  &_line
    width: 259px
    height: 10px
    opacity: 0.5
    background-color: $main-color
    margin-left: auto
    margin-right: auto

.itemDiv 
  border: 1px solid rgba(0,0,0,0.0)
  min-height: 625px
  &_header
    font-size: 120px
    font-weight: 900
    color: $text-color
    margin-top: 175px
  &_p
    line-height: 2.4
    letter-spacing: 1px
    font-size: 20px
    font-family: UniNeueRegular
    font-weight: 900

.circle
  width: 463px
  height: 463px
  opacity: 0.5
  background-color: $main-color
  border-radius: 50%
  position: absolute
  top: 18%
  left: 50%
  margin-left: -232px

.container 
  max-width: 1140px
  margin-left: auto
  margin-right: auto
  text-align: center
  font-family: UniNeueRegular

.owl-dot
  outline: none
.owl-carousel
  margin-bottom: 50px
.owl-nav
  position: absolute
  left: 0px
  top: 59%
  width: 100%
  height: 50px
  font-weight: bold
  // line-height: 1
  font-size: 100px
  // transition: all 0.2s

.owl-prev
  position: absolute
  left: 20%
  outline: none
  background: url(../images/arrow-left.png) !important
  width: 115px
  height: 139px
.owl-prev span
  display: none
.owl-next
  position: absolute
  right: 20%
  outline: none
  background: url(../images/arrow-right.png) !important
  width: 115px
  height: 139px
.owl-next span
  display: none

//блок текста
.textBlock
  height: 715px
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/guitar.png")
  color: $text-color
  margin-top: 3px
  padding-top: 200px
  background-position: bottom
  background-size: 100%
  &_container
    display: flex
    justify-content: space-between
  &_text
    width: 696px
    text-align: left
    font-family: UniNeueRegular
    &_header
      font-size: 48px
    &_paragraph
      font-size: 24px
      text-transform: none
  &_image
    width: 263px
    height: 371px
    background-image: url(../images/ch.png)
  
  //блок аккордеон
.accordion    
  min-height: 1149px
  background-color: $background-color
  margin-top: 3px
  font-family: UniNeueRegular
  &_header
    font-family: UniNeueRegular
    font-size: 60px
    font-weight: 900
    color: $text-color
    text-align: center
    padding-top: 72px
    margin-top: 0
    text-transform: uppercase

.ac-container
  max-width: 1140px
  margin: 10px auto 30px auto
  padding-bottom: 87px
  &_input
    position: relative
  &_image
    width: 60px
    height: 60px
    position: absolute
    top: 27%
  &_text
    position: absolute
    top: 38%
    left: 10%
    font-size: 30px
  &_article
    height: auto
  &_content
    color: $text-color
    font-weight: 900
    font-family: UniNeueRegular
    margin-top: 45px
  &_spanLeft, &_spanRight
    font-size: 24px
    font-weight: 900
    text-transform: uppercase
  &_spanLeft
    margin-left: 10%
  &_spanRight
    position: absolute
    left: 50%
  
.ac-container label
  padding: 5px 20px
  position: relative
  z-index: 20
  display: block
  height: 121px
  cursor: pointer
  color: #777
  //text-shadow: 1px 1px 1px rgba(255,255,255,0.8)
  line-height: 33px
  font-size: 19px
  background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea))
  background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%)
  background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%)
  background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%)
  background: linear-gradient(top, #ffffff 1%,#eaeaea 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 )
  box-shadow: 0px -1px 0px 1px $main-color

.ac-container label:hover
  background: $background-color

.ac-container input:checked + label,
.ac-container input:checked + label:hover
  background: $background-color
  color: $text-color
  //text-shadow: 0px 1px 1px rgba(255,255,255, 0.6)
  //box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3), 0px 2px 2px rgba(0,0,0,0.1)

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after
  content: ''
  position: absolute
  width: 24px
  height: 24px
  right: 13px
  top: 7px
  background: transparent url(http://netcribe.com/example/arrow_down.png) no-repeat center center

.ac-container input:checked + label:hover:after 
  background-image: url(http://netcribe.com/example/arrow_up.png)

.ac-container input
  display: none

.ac-container article
  background: $background-color
  margin-top: -1px
  overflow: hidden
  height: 0px
  position: relative
  z-index: 10
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear

.ac-container input:checked ~ article 
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear
  box-shadow: 0px 0px 0px 1px $main-color
  height: auto

.ac-container_input5
  box-shadow: 0px 0px 0px 1px #6bc9bd
  &:checked
    box-shadow: 0px -1px 0px 1px #6bc9bd

.ac-container article p
  color: #777
  line-height: 23px
  font-size: 14px
  padding: 20px
  //text-shadow: 1px 1px 1px rgba(255,255,255,0.8)

.ac-container_input
  margin-top: 2px

.ac-container
  max-width: 1140px
  margin: 10px auto 0px auto
  &_input
    position: relative
  &_image
    width: 60px
    height: 60px
    position: absolute
    top: 27%
  &_text
    position: absolute
    top: 38%
    left: 10%
  &_article
    height: auto
  &_content
    color: $text-color
    font-weight: 900
    font-family: UniNeueRegular
    margin-top: 45px
    margin-bottom: 64px
  &_spanLeft, &_spanRight
    font-size: 24px
    font-weight: 900
    text-transform: uppercase
  &_spanLeft
    margin-left: 10%
  &_spanRight
    position: absolute
    left: 50%
  &_spanBottom
    display: inline-block
    margin-top: 55px
    margin-bottom: 57px
  &_spanValue
    text-transform: none
    font-weight: 100
    font-size: 30px

.ac-button
  margin-left: 12%
.ac-line
  margin-left: 10%

.ac-container_input5
  box-shadow: 0px 0px 0px 1px #6bc9bd !important
#ac-5:checked + .ac-container_input5
  box-shadow: 0px -1px 0px 1px #6bc9bd !important

//блок оставьте заявку
.request
  background: url("../images/concert.png")
  min-height: 1041px
  margin-top: 3px
  background-position: right bottom
  background-size: 130%
  color: $text-color
  font-size: 18px
  font-family: UniNeueRegular
  &_header
    padding-top: 50px
    margin-bottom: 0px
    padding-bottom: 30px
  &_form
    max-width: 552px
    min-height: 822px
    background-color: $background-color
    margin-left: auto
    margin-right: auto
    padding-top: 42px
    padding-left: 68px
    padding-right: 66px
    box-sizing: border-box

.form
  &__input, &__select
    width: 418px
    height: 46px
    border: solid 1px $text-color
    background-color: $background-color
    padding-left: 23px
    margin-top: 19px
    color: $text-color
    box-sizing: border-box
    &Comment
      width: 418px
      height: 100px
      padding-bottom: 50px
  &__label 
    // display: block
    font-size: 18px
  &__button
    background-color: transparent
    color: $text-color
    border: none
    font-size: 24px
    font-weight: 900
    text-transform: uppercase
    font-family: UniNeueRegular
    text-align: center
    margin-left: auto
    margin-right: auto
    margin-top: 50px
    position: relative

    &s
      text-align: center
  &__line
    position: relative
    top: 74px

.form__field 
  margin: 10px
  position: relative

.form__area 
  display: block

.form label.error 
  color: red
  display: block
  position: absolute
  top: 100%
  margin-top: -6px
  left: 0
  right: 0

input.error 
  border: 2px solid red

.form__checkbox 
  position: relative
  overflow: hidden
  display: block

.form__checkbox-input 
  position: absolute
  right: 100%
  bottom: 100%

.form__checkbox-label 
  position: relative
  padding-left: 30px
  display: block
  padding-top: 2px
  padding-bottom: 2px

.form__checkbox-label::before 
  content: ''
  display: block
  width: 20px
  height: 20px
  position: absolute
  border: 1px solid $main-color
  left: 0
  top: 0

.form__checkbox-label::after 
  content: ''
  display: block
  width: 8px
  height: 8px
  background-color: $text-color
  position: absolute
  left: 7px
  top: 7px
  opacity: 0

.form__checkbox-input:checked + .form__checkbox-label::after 
  opacity: 1

//блок контакты
.contacts
  min-height: 464px
  background-color: $background-color
  margin-top: 3px
  &Text_header
    text-transform: uppercase
    color: $text-color
    font-size: 48px
    text-align: left
    padding-top: 80px
    margin-top: 0

.contactsText
  &_item
    text-align: left
    margin-top: 45px
    margin-bottom: 45px
  &_value
    font-size: 18px
    vertical-align: super
    display: inline-block
    max-width: 185px
    color: $text-color
    margin-left: 26px
    &1
      vertical-align: baseline

.contactsContainer
  display: flex
  justify-content: space-between
// .yandexMap
//   width: 746px
//   height: 465px

//футер
.footer
  min-height: 127px
  background-color: $main-color
  &_copyright
    font-style: 18px
    color: $text-color
    text-transform: none


.form__select
  background: url(../images/arrow-bottom.png)
  background-color: $background-color
  background-position: right
  background-repeat: no-repeat
  background-size: contain
  appearance: none

.form_radio
  display: inline

.form_radio input[type=radio] 
	display: none

.form_radio label 
	display: inline-block
	cursor: pointer
	position: relative
	padding-left: 25px
	margin-right: 0
	line-height: 18px
	user-select: none

.form_radio label:before 
	content: ""
	display: inline-block
	width: 20px
	height: 20px
	position: absolute
	left: 0
	bottom: -2px
	background: url(../images/no.png) 0 0 no-repeat

/* Checked */
.form_radio input[type=radio]:checked + label:before 
	background: url(../images/yes.png) 0 0 no-repeat

.form__label-male
  display: block
  margin-bottom: -13px

.form_radio-female
  margin-left: 20px

.map 
  width: 700px
  height: 500px
  max-width: 100%
